<footer class="footer-distributed">
    <div class="footer-left">
        <p class="footer-links">
            <a href="#">Home</a>
            ·
            <a href="#">Products</a>
            ·
            <a href="#">Categories</a>
            ·
            <a href="#sectionabout">Contuct Us</a>
            ·
            <a href="#">About</a>
            ·
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
        </p>

        <p class="footer-company-name">
            <span id="bookIcon" class="fas fa-book"></span>Book Store
        </p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Tbilisi</span> Bagebi</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+995 597 72 02 70</p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:ana.zurabashvili.1@btu.edu.ge">mymail.com</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>About Shop</span>
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce
            euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
        </div>
    </div>
</footer>
