<script defer src="scripts/header.js"></script>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ">
        <a class="navbar-brand " href="/"><span id="bookIcon" class="fas fa-book"></span>Book Store</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#sectionproducts">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#sectionabout">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sectioncontact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-shopping-cart"></i></a>
                </li>
                <form id="search-form" class="form-inline my-2 my-lg-0" action="/products" method="POST"
                    enctype="application/x-www-form-urlencoded">
                    <select id="search-select" name="category" class="form-control mr-sm-2" placeholder="" aria-label=""
                        value="<%= locals.active_category %>">
                        <option value="nothing"></option>
                    </select>
                    <input class="form-control mr-sm-2" name="searcht" type="search" placeholder="Search"
                        value="<%= locals.search_text %>" aria-label="Search" />
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                        Search
                    </button>
                </form>
            </ul>
        </div>
    </nav>
</header>