.cont {
    width: 600px;
    margin: 0 auto;
    margin-top: 50px;
}

#list--container {
    max-width: 100%;
}

#table--container {
    max-width: 80%;
    margin: 0 auto;
    overflow: auto;
}

.actions {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

.actions span:nth-child(2) {
    margin-top: 15px;
    color: darkred;
}

.actions>span {
    cursor: pointer;
}

.inStock {
    font-size: 20px;
}

#table--container .img-thumbnail {
    width: 100%;
    max-width: 200px;
}

.table th, .table td {
    text-align:center;
}

.navbar .form-inline > select {
    width:200px;
}

.badMsg {
    color:red;
}

.goodMsg {
    color:seagreen;
}

@media (max-width: 1100px) {
    #table--container {
        max-width: 100%;
    }
}